<!DOCTYPE html>
<html>
    <head>
        {{ include('header.html.twig') }}
    </head>
    <body>
        <div class="container">
            {{ include('top_bar.html.twig', {is_logged_in: is_logged_in}) }}
        </div>
    </body>
</html>
